<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FaceDetect.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0596C8F812FED4E300B13245</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0596C90212FED5F000B13245</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05D10EBB12FED04E00A4ECA9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
